{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>Personal-info</h5>
        </div>
        <div class="widget-content nopadding">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    {% for non_field_error in form.non_field_errors %}
                        <p class="help is-danger">{{ non_field_error }}</p>
                    {% endfor %}
                    {% for field in form %}
                        <div class="control-group">
                            <label for="{{ field.id_for_label }}" class="control-label">{{ field.label_tag }}</label>
                            <div class="controls">
                            {{ field }}

                            {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-actions">
                    <input type="submit" value="SIGN UP" class="button is-primary">
                    </div>
                </form>
        </div>
    </div>

{% endblock %}